{% extends "base.html" %}
{% load staticfiles %}
{% block title %}About{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 well">
			<h2 class="text-center">About Us</h2>
            <h4 class="text-center">
                This Is A Course-Design Project of Software Engineer of Jilin University
            </h4>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>Role</th>
                    <th>Name</th>
                    <th>Stu Id</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Team Leader</td>
                    <td>Kean(Hu Yaokang)</td>
                    <td>53120201</td>
                    <td>imkean@163.com</td>
                </tr>
                <tr>
                    <td>Member</td>
                    <td>Liu Qi</td>
                    <td>53120202</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>Member</td>
                    <td>Yue Hengshan</td>
                    <td>53120203</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>Member</td>
                    <td>Liu Yi</td>
                    <td>53120204</td>
                    <td>...</td>
                </tr>
                </tbody>
            </table>
		</div>
	</div>
</div>

{% endblock %}