{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{%  static "img/icon.ico" %}">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
		<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

		<!--[if lt IE 9]>
			<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body background="{% static "imgi/nav_background.jpg" %}">
		<!--Here is the navbar-->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-basepage">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="navbar-collapse-basepage">
					<ul class="nav navbar-nav">
                        <li id="homepage"><a href="{% url 'index' %}" class="navbar-brand">
                            <span class="glyphicon glyphicon-home"></span>&nbsp;Web Order</a></li>
						<li id="viewpage"><a href="{% url 'view_instrument' %}">
                            <span class="glyphicon glyphicon-list"></span>&nbsp;Browse Instruments</a></li>
						<li id="about"><a href="{% url 'about' %}">
                            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;About</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if user %}
                            <li id="cart"><a href="{% url 'cart' %}"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Cart&nbsp;<span class="badge">{{ cart_count }}</span></a></li>

                            <li class="dropdown" id="user_menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;{{ user.nickname }} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li> <a href="{% url 'history' %}"><span class="glyphicon glyphicon-tasks"></span>&nbsp;History Order List</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{%  url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Sign Out</a></li>
                                    <li><a href="{% url 'set_password' %}"><span class="glyphicon glyphicon-lock"></span>&nbsp;Set Password</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-registration-mark"></span>&nbsp;Register</a></li>
                            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Sign In</a></li>
                        {% endif %}
                    </ul>
                </div>
			</div>
		</nav>
		<!-- /nav -->
		<!-- header -->
		<header class="jumbotron subhead" id="header-base" >
			<div class="container" >
				<h1>Web Order</h1>
				<h2>&emsp;&emsp;The Best Web to Get Your Lovely Instruments , Music Starts Here !</h2>
			</div>
		</header>
		<!-- /.header -->
		<!-- main part -->
		{% block content %}{% endblock %}
		<!-- /.main -->
	
		<!-- footer -->
        <br/><br/>
		<footer class="footer" role="contentinfo">
			<hr>
			<div class="container">
				<p class="text-center"><strong>CCST-JLU</strong></p>
				<p class="text-center">©All rights reserved</p>
				<h5 class="text-center"> Powered by&nbsp;<a href="https:github.com/hikean">Kean</a></h5>
			</div>
		</footer>
		<!-- /.footer-->
		<script type="text/javascript">
		    var act = document.getElementById("{{ active_menu }}");
		    act.setAttribute("class","active");
		</script>
	</body>
</html>