{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Cart{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 well">
			{% if cart_count == 0 %}
                <h2><p> Sorry,Your Cart Is Empty!</p></h2>
            {% else %}
                <label class="checkbox-inline">
                    <input type="checkbox" id="checkbox_choose_all" value="all">All
                </label>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Check </th>
                        <th>No.</th>
                        <th>Item</th>
                        <th>Count</th>
                        <th>Weight</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in item_list %}
                        <td><input type="checkbox" value="{{ item.item_id.id}}" id="cart_check_box{{forloop.counter}}"></td>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'view_detail' %}?id={{item.item_id.id}}">{{ item.item_id.name }}</a></td>
                        <td>{{ item.count }}</td>
                        <td>{{ item.weight }}</td>
                        <td>{{ item.price|floatformat:2 }}</td>
                        </tbody>
                    {% empty %}
                        <tr>
                            <td>No Instruments At Present</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        <script type="text/javascript">
            function chooseAll()
            {
                var x=document.getElementById("checkbox_choose_all").checked;
                if(!x) return;
                var cnt=1;
                var have=True;
                while(have)
                {
                    var cur=document.getElementById("cart_checkbox_"+cnt.toString());
                    if(cur)
                    {

                    }
                    else
                    {
                        break;
                    }

                }
            }

        </script>

        </div>
    </div>
</div>

{% endblock %}