{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Cart{% endblock %}

{% block content %}

<div class="container" xmlns="http://www.w3.org/1999/html">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 well">
			{% if cart_count == 0 %}
                <h2> Sorry,Your Cart Is Empty!</h2>
            {% else %}
                <label class="checkbox-inline">
                    <input type="checkbox" id="checkbox_choose_all" value="all" onclick="chooseAll()">All
                </label>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Check </th>
                            <th>No.</th>
                            <th>Item</th>
                            <th>Count</th>
                            <th>Weight</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in item_list %}
                            <td><input type="checkbox" value="{{ item.item_id.id}}" id="cart_check_box_{{forloop.counter}}" onclick="checkStateChanged('cart_check_box_{{forloop.counter}}')"></td>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'view_detail' %}?id={{item.item_id.id}}">{{ item.item_id.name }}</a></td>
                            <td>{{ item.count }}</td>
                            <td>{{ item.weight }}</td>
                            <td>{{ item.price|floatformat:2 }}</td>
                            <td>
                                <form class="form-inline" role="form" name="delete_item" method="get" action="{% url 'delete_from_cart' %}">
                                    <input type="hidden" value="{{ item.id }}" name ="cart_item_id">
                                    <input type="submit" value="Delete">
                                </form>
                                <!--span class="glyphicon glyphicon-remove"></span-->
                            </td>
                        {% empty %}
                            <tr>
                                <td>No Instruments At Present</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% if item_list.count  %}
                    <form class="form-inline"  role="form" method="get"  action="/view/" >
                        <input type="text" name="test" value = "what">
                        <input type="submit" value="Submit Order List" >
                    </form>
                {% endif %}

            {% endif %}
            <script type="text/javascript">
                function checkStateChanged(by_who)
                {
                    alert("Check state changed"+by_who)
                }
                function chooseAll()
                {
                    //alert("chooseAll")
                    var val=document.getElementById("checkbox_choose_all").checked;
                    var cnt=1;
                    while(true)
                    {
                        var cur=document.getElementById("cart_check_box_"+cnt.toString());
                        cnt+=1;
                        if(cur!=null)
                        {
                            cur.checked=!val
                            cur.click();
                        }
                        else
                        {
                            break;
                        }
                    }
                }
            </script>
        </div>
    </div>
</div>

{% endblock %}