{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Details{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12 "> <!--col-md-10 col-md-offset-1-->
			<div class="col-md-8">
				{% if img_list %}
					<div id="carousel-generic" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
						{% for item in img_list %}
							<li data-target="#carousel-generic" data-slide-to="{{forloop.counter0}}" {% if forloop.first %}class="active"{% endif %}></li>
						{% endfor %}
						</ol>
						<div class="carousel-inner" role="listbox">
						{% for img in img_list %}
							<div {% if forloop.first %}class="item active"{%else%}class="item"{% endif %}>
								<img class="img-rounded" src="/{{img.img}}">
							</div>
						{% endfor %}
						</div>
						<a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				{% else %}
					<p class="text-center">No Images At Present</p>
				{% endif %}
			</div>
			<h3 class="col-md-4">
{#                col-md-6 col-md-offset-1#}
				<h2 class="text-left"><b>{{book.name}}</b></h2>
				<h3>Brand：{{book.author}}</h3>
				<h3>Category：{{book.typ}}</h3>
                <h3>Date：{{book.pubDate|date:"Y-m-d"}}</h3>
                <h3>Rest:{{book.price}}</h3>
                <h3>Price：$ {{ book.price|floatformat:2 }}</h3>
                <h3>Weight：{{ book.weight|floatformat:2 }} Kg</h3>
                {% if user %}
                <form class="form-inline" role="form" method="get" action="{% url 'add_to_cart' %}">
                <input type = "hidden" value="{{book.id}}"  name="id">
                     <label><h3>Amount&nbsp;<input type="number"  max="9999999999" min="1" required onkeyup="check()" name ="amount" size=6 class="form-control" id="id_amount" placeholder="Please Input Amount" value = 1>
                         </h3></label>
                       <br/>&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit"  class="btn btn-lg btn-primary">  Add to Cart  </button>
                </form>
                {% endif %}
                <script>
                    function check()
                    {
                        var x=document.getElementById("id_amount");
                        if(!$.isNumeric(x.value))
                        {
                            //alert("Not A Number");
                            x.value = 1;
                            return false;
                        }
                        return true;
                    }
                </script>
            </h3>
        </div>
    </div>
</div>
    </div>

{% endblock %}