#coding:utf-8
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}History Lists{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 well">
			<h2 class="text-center">History Order Lists</h2>

            <table class="table table-hover  table-bordered">
					<thead>
						<tr>
							<th>No.</th>
                            <th>Order ID</th>
							<th>Price($)</th>
							<th>weight(Kg)</th>
							<th>Date Time</th>
							<th>Address</th>
                            <th>Transport</th>
						</tr>
					</thead>
					<tbody>
						{% for order in order_list %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td><a href="{% url 'order_list' %}?order_id={{order.id}}">{{ order.id }}</a></td>
							<td>{{ order.sum_price|floatformat:2 }}</td>
							<td>{{ order.weight|floatformat:2}}</td>
							<td>{{ order.date |date:"Y/m/d/H:i:s"}}</td>
							<td>{{ order.address}}</td>
							<td>{{ order.transport}}</td>
						</tr>
                        {% endfor %}
                    </tbody>
            </table>
            {% if order_list.count == 0 %}
                <h3>No Order List at Present!</h3>
            {% endif %}
            <br/> <br/> <hr/>
            <h4 class="text-center">Email:<span  class="text-info">imkean@163.com</span></h4>
            <p class="text-center">
                This Is A Course-Design Project of Software Engineer of Jilin University
            </p>
        </div>
    </div>
</div>

{% endblock %}