{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Order List{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 well">
			{% if order_items.count == 0 %}
                <h2><p> Sorry,This Order Is Empty!</p></h2>
            {% else %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Item</th>
                        <th>Count</th>
                        <th>Weight</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in order_items %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'view_detail' %}?id={{item.item_id.id}}">{{ item.item_id.name }}</a></td>
                            <td>{{ item.count }}</td>
                            <td>{{ item.weight }}</td>
                            <td>{{ item.price|floatformat:2 }}</td>
                        </tr>
                    {% empty %}
                            <h3>No Order List Item At Present</h3>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}